@page "/counter"

<h1>Counter</h1>

<p>Our Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click this</button>

<button class="btn btn-primary" @onclick="DecrementCount">Click that</button>


<h1>@ourMessage</h1>

@code {
    public int currentCount = Models.StoreCount.GetCount();
    public string ourMessage = StoreCount.GetMessage();
    private void IncrementCount()
    {
        StoreCount.SetCount();
        currentCount = StoreCount.GetCount();
        ourMessage = StoreCount.GetMessage();
    }

    private void DecrementCount()
    {
        StoreCount.DecCount();
        currentCount = Models.StoreCount.GetCount();
        ourMessage = StoreCount.GetMessage();
    }

}