@page "/fetchdata"

@using GaleTrail.Data
@inject WeatherForecastService ForecastService

<h1>Welcome Gale Trail Generation</h1>
<h4>Current Parts List</h4>

<p>These components are nearing the end of their life:</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date Due</th>
                <th>Farm number</th>
                <th>Turbine number</th>
                <th>Part Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
