@page "/"

<MudThemeProvider />




<h1>Welcome visitor!</h1>

<h3>@myMessage</h3>

<MudPaper Class="d-flex pa-4" Elevation="4">

    <MudText Typo="Typo.h6">
        Bethselamin is an blockchain ledger system based on <a href="https://www.hyperledger.org" _target="blank">hyperledger</a>.
        It is aimed at companies who want a full lifecycle chain of evidence for materials, parts and assemblies.
        It provides regulatory proof of materials tracking and future disposal in a manner in keeping with the future of our environemnt.
    </MudText>
</MudPaper>
<MudPaper Class="d-flex pa-4" Elevation="0" Align="center">
    <MudCarousel Elevation="4" Style="height:200px; width:800px;" ShowArrows="true" ShowDelimiters="true" AutoCycle="true" TData="object">
        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">

            <MudText Align="Align.Center" Typo="Typo.h3">"Beth-sel-a-min"</MudText>

        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide">

            <img src="Images/Bethselamin.png" />

        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide">
            <div class="d-flex" style="height:100%">
                <img src="Images/Bethselamin-2.png" />
            </div>
        </MudCarouselItem>
    </MudCarousel>
    </MudPaper>
    <MudPaper Class="d-flex pa-4">

        <p>
            <MudText Typo="Typo.h5">
                <a href="http://www.hhgproject.org/entries/bethselamin.html">Bethselamin     </a>
            </MudText>
        </p><br />

        <MudContainer MaxWidth="MaxWidth.Small">
            <MudText Typo="Typo.body1">
                A fabulously beautiful planet, Bethselamin is now so worried about the cumulative eroision by ten billion visiting tourists a year that any net imbalance between the amount you eat and the amount you excrete whilst on the planet is surgically removed from your bodyweight when you leave: so every time you go to the lavatory there it is vitally important to get a receipt.
            </MudText>
        </MudContainer>
    </MudPaper>



    @code
    {


        public string myMessage = RandomMessage();

        public static string RandomMessage()
        {
            Random rnd = new Random();
            int randomNumber = rnd.Next(0, 3);
            string[] messageList = { "Blockchain Generation and materials tracking", "A databse is a snap-shot, a blockchain is a biography.", "Sunset your blockchained materials correctly, get a Bethselamin bonus!", "Bethselamin uses permissioned blockchains and use 'proof-of-stake'consensus methods." };
            return (string)messageList.GetValue(randomNumber);
        }
    }
