@page "/"

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">

    <img src="Images/BethselaminLogoSml.png" alt="Bethselamin" />
    <MudText Typo="Typo.h2" GutterBottom="true">Welcome visitor!</MudText>

    <MudText Typo="Typo.h3" GutterBottom="true">@myMessage</MudText>

    <MudPaper Class="d-flex pa-4" Elevation="1">

        <MudText Typo="Typo.body1" Color="Color.Primary">
            Bethselamin is an environment focussed blockchain ledger system based on <a href="https://www.hyperledger.org" target="_blank">hyperledger</a>.
            It is aimed at companies who want a full lifecycle chain of evidence for materials, parts and assemblies.
            It provides regulatory proof of materials tracking and future disposal in a manner in keeping with the future of our environemnt.<br />
        </MudText>
        <MudCard Elevation="-2">
            <MudText Typo="Typo.subtitle1" Color="Color.Tertiary">
                <strong>Bethselamin a modern technology for the future of the environment</strong>
            </MudText>
        </MudCard>
    </MudPaper>

    <MudPaper Class="pa-8 ma-2" Outlined="false" Square="true">
        <MudTimeline>
            <MudTimelineItem>
                
                <ItemOpposite>
                   
                        <MudText Align="Align.End">A business subscribes to the Bethselamin blockchain ledger system.</MudText>
                   
                </ItemOpposite>
            </MudTimelineItem>
            <MudTimelineItem>
                <ItemOpposite>
                   
                        <MudText Align="Align.Start">Bodies link 15% of funding to clean disposal of all materials.</MudText>
                       
                </ItemOpposite>
                    </MudTimelineItem>
            <MudTimelineItem Color="Color.Primary">
                <ItemOpposite>
                    
                        <MudText Align="Align.End">Bethselamin provides verification and validation of proper materials handling in service and after.</MudText>
                    
                </ItemOpposite>
                    </MudTimelineItem>
            <MudTimelineItem>
                <ItemOpposite>
                    
                        <MudText Align="Align.Start">Funding released after Bethselamin verification of appropriate disposal of all materials.</MudText>
                        
            </ItemOpposite>
        </MudTimelineItem>
            <MudTimelineItem>
                <ItemOpposite>
                    
                        <MudText Align="Align.End">Credits received towards the Bethselamin blockchain ledger system.</MudText>
                        
                </ItemOpposite>
            </MudTimelineItem>
        </MudTimeline>

    </MudPaper>

    <MudPaper Class="d-flex pa-4" Color ="Color.Info">
        <p>
            <MudText Typo="Typo.h5">
                <a href="http://www.hhgproject.org/entries/bethselamin.html" target="_blank">Bethselamin     </a>
            </MudText>
        </p><br />

            <MudContainer MaxWidth="MaxWidth.Small">
                <MudCard Class="pa-4 mud-theme-primary" >
                    <MudText Typo="Typo.body2">
                        A fabulously beautiful planet, Bethselamin is now so worried about the cumulative erosion by ten billion visiting tourists a year that any net imbalance between the amount you eat and the amount you excrete whilst on the planet is surgically removed from your bodyweight when you leave: so every time you go to the lavatory there it is vitally important to get a receipt.
                    </MudText>


                    <p><strong>Douglas Adams</strong>, <em>The Hitch-Hiker's Guide to the Galaxy</em></p>
                </MudCard>
            </MudContainer>
    </MudPaper>

</MudContainer>

    @code
    {

        
        public string myMessage = RandomMessage();

        public static string RandomMessage()
        {
            Random rnd = new Random();
            int randomNumber = rnd.Next(0, 3);
            string[] messageList = { "Blockchain Generation and materials tracking", "A databse is a snap-shot, a blockchain is a biography.", "Sunset your blockchained materials correctly, get a Bethselamin bonus!", "Bethselamin uses permissioned blockchains and use 'proof-of-stake'consensus methods." };
            return (string)messageList.GetValue(randomNumber);
        }
    }
